/* DROP DOWN BUTTON CSS*/
.dropdown-btn {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 1rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;
}

.toggle-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.button-open {
  border: rgb(147 197 253) 2px solid;
}

/*DROP DOWN CONTENT CSS*/

.dropdown-content {
  position: absolute;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-top: 0.5rem;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  max-height: 40vh;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  transform: translateY(-5%);
  transition: transform 150ms ease-in-out, opacity 100ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1000;
}

.dropdown-content::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.content-open {
  transform: translateY(0);
  opacity: 1;
  pointer-events: all;
}

/*DROP DOWN ITEM CSS*/
.dropdown-item {
  padding: 0.5rem;
  margin: 0.1rem;
  width: 100%;
  border-radius: 0.5rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: rgb(240 249 255);
}